.board{
    background: black;
}

.categories{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    grid-auto-rows: 100px;
    padding: 10px;
    margin-top: 0%;
  

  }
  .cats{
    background:#060CE9;
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:3px 2px black;
    color: white;
  }

.container {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    grid-auto-rows: 100px;
    padding: 10px;
    margin-top: 0%;
    height:75vh;  
  }

  .box{
    background: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box h1{
    color:rgb(255, 238, 0);
    text-shadow:3px 2px black;
}

  .logo{
      display:flex;
      justify-content: center;
  }

  .cats h1{
      color:white;
  }

  .box{
      background:blue;
      border: 2px solid black;
  }
  .page{
      background: rgb(192, 136, 32);
      height: 100%;
      width: 100%;
  }

  body{
    background: rgb(192, 136, 32);
      
  }


#box1{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#box1:hover{
      border: 10px solid yellow;
}

#box2{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box2:hover{
    border: 10px solid yellow;
}

#box3{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box3:hover{
    border: 10px solid yellow;
}

#box4{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box4:hover{
    border: 10px solid yellow;
}

#box5{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box5:hover{
    border: 10px solid yellow;
}

#box6{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box6:hover{
    border: 10px solid yellow;
}

#box7{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box7:hover{
    border: 10px solid yellow;
}

#box8{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box8:hover{
    border: 10px solid yellow;
}

#box9{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box9:hover{
    border: 10px solid yellow;
}

#box10{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box10:hover{
    border: 10px solid yellow;
}

#box11{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box11:hover{
    border: 10px solid yellow;
}

#box12{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box12:hover{
    border: 10px solid yellow;
}

#box13{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box13:hover{
    border: 10px solid yellow;
}

#box14{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box14:hover{
    border: 10px solid yellow;
}

#box15{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box15:hover{
    border: 10px solid yellow;
}

#box16{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box16:hover{
    border: 10px solid yellow;
}

#box17{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box17:hover{
    border: 10px solid yellow;
}

#box18{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box18:hover{
    border: 10px solid yellow;
}

#box19{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box19:hover{
    border: 10px solid yellow;
}

#box20{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box20:hover{
    border: 10px solid yellow;
}

#box21{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box21:hover{
    border: 10px solid yellow;
}

#box22{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box22:hover{
    border: 10px solid yellow;
}

#box23{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box23:hover{
    border: 10px solid yellow;
}

#box24{
    text-shadow:3px 2px black;
    font-weight: bold;
    background:#060CE9;
    border-radius: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#box24:hover{
    border: 10px solid yellow;
}



