
.container {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap: .5em;
    grid-auto-rows: 100px;
    border: 2px solid;
    padding: 10px;
    margin:100px;
    background: rgb(2, 2, 2);
  }
  

  #box1{
    text-shadow: 3px 2px black;
    color: rgb(235, 211, 24);
    font-weight: bold;
    background:blue;
}
#box2{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
}
#box3{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
}
#box4{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
}
#box5{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
}

#box6{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
}
#box7{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box8{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box9{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box10{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}

#box11{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
}
#box12{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box13{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box14{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box15{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}

#box16{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box17{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box18{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box19{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}
#box20{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
}

#box21{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  }
  #box22{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  }
  #box23{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  }
  #box24{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  }
  #box25{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  }




}






.category{
  background: blue;
}

.scoreBoard{
  float:right;
}
  
  
  

  
  

  
 
 
 
 