
}
body{
  background-color: #020008;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

}

.category{
text-shadow:3px 2px black;
color:white;
font-weight: bold;
height: 50px;
background:blue;
border-radius: 0%;
display: flex;
justify-content: center;

}


.score{
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom:0%;
}

.logo{
display:flex;
justify-content: center;
margin-top:30px;
margin-bottom: 40px;

}

button{
  display: flex;
  justify-content: space-evenly;
}
.modal-body{
  background: blue;
   color: white;
   text-align: center;
}
  
  .modal-footer{
  background: blue;
  color: white;

  }
  .modal-header{
    background: blue;
    color: white; 
  }

  .modal-title {
  display: flex;
  justify-content: center;  
  }

  .scoreBoard {
    display: flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
  
    border-radius: 3%;
  }
#firstModalLabel{
  align-content: center;
}

.modal-dialog {
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;

} 

.modal-content {
  height: 50%;
  min-height: 50%;
  border-radius: 0;
}
    
.answer-button{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  color: white; 
  background: blue;
}


#box1{
text-shadow:3px 2px black;
font-weight: bold;
background:blue;
border-radius: 0%;

}
#box1:hover{
  border: 1px solid yellow;
}

#box2{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
border-radius: 0%;

}
#box2:hover{
  border: 1px solid yellow;
}
#box3{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
border-radius: 0%;

}
#box3:hover{
  border: 1px solid yellow;
}
#box4{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
border-radius: 0%;

}
#box4:hover{
  border: 1px solid yellow;
}
#box5{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
border-radius: 0%;

}
#box5:hover{
  border: 1px solid yellow;
}

#box6{
text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
border-radius: 0%;

}
  #box6:hover{
    border: 1px solid yellow;
  }
#box7{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
 
  }
  #box7:hover{
    border: 1px solid yellow;
  }
#box8{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box8:hover{
    border: 1px solid yellow;
  }
#box9{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box9:hover{
    border: 1px solid yellow;
  }
#box10{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
 
  }
  #box10:hover{
    border: 1px solid yellow;
  }

#box11{
  text-shadow: 3px 2px black;
color: rgb(235, 211, 24);
font-weight: bold;
background:blue;
border-radius: 0%;

}
#box11:hover{
  border: 1px solid yellow;
}
#box12{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box12:hover{
    border: 1px solid yellow;
  }
#box13{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box13:hover{
    border: 1px solid yellow;
  }
#box14{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box14:hover{
    border: 1px solid yellow;
  }
#box15{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
 
  }
  #box15:hover{
    border: 1px solid yellow;
  }

#box16{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box16:hover{
    border: 1px solid yellow;
  }
#box17{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box17:hover{
    border: 1px solid yellow;
  }
#box18{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box18:hover{
    border: 1px solid yellow;
  }
#box19{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
 
  }
  #box19:hover{
    border: 1px solid yellow;
  }

#box20{
  text-shadow: 3px 2px black;
  color: rgb(235, 211, 24);
  font-weight: bold;
  background:blue;
  border-radius: 0%;
  
  }
  #box20:hover{
    border: 1px solid yellow;
  }

  #reloadModal{
    display:none;
  }

  h1{
    color: white;
  }


  
  

  
  

  
 
 
 
 